


body {
      background-image: url("../images/rock.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
}

.jumbotron {
      color: orange;
}


.banner {
      height: 400px;
      width: 100%;
      max-width: 100%;
      max-height: 50%;
      min-height: 20%;
      background-image: url("../images/hmcover.jpg");
      background-size: cover;
}

#hintBox {

      font-family: Arial;
      font-size: 18px;
      color: black;
      background-color: lightblue;
}

#charsUsed {
      font-size: 24px;
      font-weight: bold;
      font-family: courier;
      color: black;
}

#displayStage {
      font-size: 36px;
      font-family: courier;
      font-weight: bold;
}

#alertBox {
      position: absolute;
      top: 0px;
      margin-left: auto;
      margin-right: auto;
      z-index: 5;
}